/*!
 * Custom CSS
 * Copyright 2018 CS6400 Team010
 */

.login-panel {
    position:absolute;
    left:50%;
    top:40%;
    max-width: 500px;
    margin: auto;
    width:300px;
    height:200px;
    margin:-100px 0 0 -150px;
}


.login-panel .form-group {
    position: relative;
}

.login-panel i{
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 18px;
}

.login-panel .form-control {
    padding-left: 32px;
}
