/*!
 * Custom CSS
 * Copyright 2018 CS6400 Team010
 */


.login-panel {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    max-width: 360px;
}

.menu-panel {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    max-width: 360px;
}

body {
    padding-top: 65px;
}

.login-panel .form-group {
    position: relative;
}

.login-panel i{
    position: absolute;
    left: 9px;
    top: 9px;
    font-size: 14px;
}

.login-panel .form-control {
    padding-left: 32px;
}

.dropdown .fa-caret-down{
    font-size: 16px;
}
.fa{
    margin-right: 0.2em;
    width: 1em;
    text-align:center;
}

.hidden-text{
    display: none;
}

@media (max-width: 800px) {
.hidden-text{
    display: inline;
}
}
