{% extends "base.html" %}
{% block title %}Add New Resource{% endblock %}

{% block content %}
<div class="card form-card">
    <div class="card-header">
        <h3 class="panel-title">New Resource Information</h3>
    </div>
    <div class="card-body">
        <form role="form" id="ps_entry" name="ps_entry" method="post" onsubmit="return entry_check()" action="/user/ps/add/">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Resource ID</label>
                <div class="col-sm-9 info-col">{{ nextResourceId }}</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Owner</label>
                <div class="col-sm-9 info-col">{{ name }}</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Resource Name</label>
                <input name="name" type="text" class="form-control col-sm-9" id="111" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Primary ESF</label>
                <select name="primaryESFNumber" class="form-control col-sm-9" required>
                    {% for item in ESF %}
                    <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Additional ESFs</label>
                <select multiple name="additionalESFNumbers" class="form-control col-sm-9">
                    {% for item in ESF %}
                    <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Model</label>
                <input name="model" type="text" class="form-control col-sm-9">
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Capabilities</label>
                <textarea class="form-control col-sm-9" name="capabilities" rows="3"
                          placeholder="One capability per line"></textarea>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Home Location</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend"><span class="input-group-text">Latitude</span></div>
                    <input name="latitude" type="number" class="form-control" min="-90" max="90" step="any" required>
                </div>
                <div class="col-sm-1"></div>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend"><span class="input-group-text">Longitude</span></div>
                    <input name="longitude" type="number" class="form-control" min="-180" max="180" step="any" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Max Distance</label>
                <div class="col-sm-4">
                    <input name="maxDistance" type="number" class="form-control" min="0" max="20015" step="0.01">
                </div>
                <div class="col-sm-5 info-col"> kilometers</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cost</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                    <input name="cost" type="number" class="form-control" placeholder="0" min="0" step="0.01" required>
                </div>
                <div class="col-sm-1 info-col"> per</div>
                <div class="col-sm-4">
                    <select name="unitName" class="form-control" required>
                        {% for item in TimeUnit %}
                        <option>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row"></div>
            <div class="form-group row"></div>
            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button type="button" name="btn" id="submitBtn" class="btn btn-primary btn-block" data-toggle="modal" data-target="#resourceModal">Save</button>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block tail %}
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" id='resourceModal'>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestModalLabel">Confirm Added Resource Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Resource ID</th>
                    <td>{{ nextResourceId }}</td>
                </tr>
                <tr>
                    <th>Owner</th>
                    <td>{{ name }}</td>
                </tr>
                 <tr>
                    <th>Reserouce Name</th>
                    <td id="222"></td>
                </tr>
                </tbody>
                </table>
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="send">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#submitBtn').click(function () {
        /* when the button in the form, display the entered values in the modal */
        $('#222').html($('#111').val());
});
</script>
{% endblock %}
