{# NOTE: This is basic template defining all resources needed #}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title>{% block title %}TITLE{% endblock %} - ERMS</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<!--     navigation bar -->
<nav class="navbar navbar-light navbar-expand-lg navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="fa fa-home"></span> ERMS</a>
        {% if username %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="#navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="hidden-text">Menu</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="add-resource.html"><span class="fa fa-plus-circle"></span> Add
                            Resource</a>
                        <a class="dropdown-item" href="add-incident.html"><span class="fa fa-map-marker-alt"></span> Add
                            Emergency Incident</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="search.html"><span class="fa fa-search"></span> Search Resources</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="status.html"><span class="fa fa-battery-half"></span> Resource
                            Status</a>
                        <a class="dropdown-item" href="report.html"><span class="fa fa-file"></span> Resource Report</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user"></span> {{ name }} </a>
                </li>
                {% if userinfo and userinfo.Type %}
                {% if userinfo.JobTitle %}
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-briefcase"></span> {{
                    userinfo.JobTitle }} </a></li>
                {% elif userinfo.Category %}
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-globe-americas"></span> {{
                    userinfo.Category }} </a></li>
                {% elif userinfo.AgencyNameLocalOffice %}
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-building"></span> {{
                    userinfo.AgencyNameLocalOffice }} </a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-map-marker-alt"></span> {{
                    userinfo.Location }} </a></li>
                <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-users"></span> {{
                    userinfo.NumberofEmployees }} </a></li>
                {% endif %}
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="logout"><span class="fa fa-sign-out-alt"></span> Logout
                </a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}
    <p>Welcome to Emergency Resource Management System Web Service!<p>
    <h3>This page is under construction</h3>
    {% endblock %}
</div>
<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
{% block modal %}{% endblock %}
</body>
</html>
