{# NOTE: This is basic template defining all resources needed #}
{% from '_macros.html' import menus %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>{% block title %}{% endblock %} - ERMS</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <!--     navigation bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        {% if username %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
        {% endif %}
          <a class="navbar-brand" href="/"><span class="fa fa-home"></span> ERMS</a>
        </div>
        {% if username %}
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        <li class="dropdown dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-caret-down"></span><span class="hidden-text">Menu</span></a>
          <ul class="dropdown-menu">
            {{ menus('Seperator', '') }}
          </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="fa fa-user"></span> {{ username }} </a></li>
          {% if userinfo and userinfo.Type %}
            {% if userinfo.JobTitle %}
                <li><a href="#"><span class="fa fa-briefcase"></span> {{ userinfo.JobTitle }} </a></li>
            {% elif userinfo.Category %}
                <li><a href="#"><span class="fa fa-globe-americas"></span> {{ userinfo.Category }} </a></li>
            {% elif userinfo.AgencyNameLocalOffice %}
                <li><a href="#"><span class="fa fa-building"></span> {{ userinfo.AgencyNameLocalOffice }} </a></li>
            {% else %}
                <li><a href="#"><span class="fa fa-map-marker-alt"></span> {{ userinfo.Location }} </a></li>
                <li><a href="#"><span class="fa fa-users"></span> {{ userinfo.NumberofEmployees }} </a></li>
            {% endif %}
          {% endif %}
          <li><a href="logout"><span class="fa fa-sign-out-alt"></span> Logout </a></li>
        </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    <div class="container">
    {% block content %}<p>Welcome to Emergency Resource Management System Web Service!<p>{% endblock %}

    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
