{% extends "base.html" %}
{% block title %}Main Menu{% endblock %}
{% block content %}
<!--     <h3 align="center" margin="auto"> Welcome to Emergency Resource Management System </h3> -->
<div class="card login-card">
    <div class="card-header">
        <h3 class="panel-title">Main Menu</h3>
    </div>
    <div class="card-body" class="col-6">
        <div class="main-menu list-group">
            <a class="list-group-item list-group-item-action" href="add-resource.html"><span
                    class="fa fa-plus-circle"></span> Add Resource</a>
            <a class="list-group-item list-group-item-action" href="add-incident.html"><span
                    class="fa fa-map-marker-alt"></span> Add Emergency Incident</a>
            <a class="list-group-item list-group-item-action" href="search.html"><span class="fa fa-search"></span>
                Search Resources</a>
            <a class="list-group-item list-group-item-action" href="status.html"><span
                    class="fa fa-battery-half"></span> Resource Status</a>
            <a class="list-group-item list-group-item-action" href="report.html"><span class="fa fa-file"></span>
                Resource Report</a>
        </div>
    </div>
</div>
{% endblock %}
