{% extends "base.html" %}

{% block title %}Resource Report{% endblock %}

{% block content %}
<div class="card form-card">
    <div class="card-header">
        <h4 class="panel-title">Resource Report by Primary Emergency Support Function</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">

                <thead class="thead-light">
                <tr>
                    <th scope="col">ESF#</th>
                    <th scope="col">Primary Emergency Support Function</th>
                    <th scope="col">Total Resources</th>
                    <th scope="col">Resources In Use</th>
                </tr>
                </thead>
                
                <tbody>
                {% for it in result %}
                <tr>
                    <th scope="row" class="text-center">{{ it.Number }}</td>
                    <td>{{ it.Description }}</td>
                    <td class="text-center">{{ it.total }}</td>
                    <td class="text-center">{{ it.inuse }}</td>
                </tr>
                {% endfor %}
                </tbody>

                <tfoot>
                <tr bgcolor="#D6DBDF">
                    <th></th>
                    <th>Total</th>
                    <th class="text-center">{{ total }}</th>
                    <th class="text-center">{{ inuse }}</th>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>
{% endblock %}
