{% extends "base.html" %}

{% block title %}Resource Status{% endblock %}

{% block content %}
<div class="card form-card">
    <div class="card-header">
        <h3 class="panel-title">Resource Status</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <caption>Resources In Use</caption>
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Resource Name</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Return By</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for it in inuse %}
                <tr>
                    <td scope="row">{{ it.ResourceID }}</td>
                    <td>{{ it.ResName }}</td>
                    <td>{{ it.IncDes }}</td>
                    <td>{{ it.OwnerName }}</td>
                    <td>{{ it.StartDate }}</td>
                    <td>{{ it.ReturnDate }}</td>
                    <td><button type="button" id='return{{ it.ResourceID }}'
                            data-id="{{ it.ResourceID }}" data-abbr="{{ it.IncidentAbbrv }}" data-no="{{it.IncidentNumber }}"
                                class="btn btn-secondary">Return</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped">
                <caption>Resources Requested by me</caption>
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Resource Name</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Return By</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for it in requested %}
                <tr>
                    <td scope="row">{{ it.ResourceID }}</td>
                    <td>{{ it.ResName }}</td>
                    <td>{{ it.IncDes }}</td>
                    <td>{{ it.OwnerName }}</td>
                    <td>{{ it.ReturnDate }}</td>
                    <td><button type="button" id='cancel{{ it.ResourceID}}'
                            data-id="{{ it.ResourceID }}" data-abbr="{{ it.IncidentAbbrv }}" data-no="{{it.IncidentNumber }}"
                                class="btn btn-secondary">Cancel</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-striped">
                <caption>Resource Requests received by me</caption>
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Resource Name</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Return By</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for it in received %}
                <tr>
                    <td scope="row">{{ it.ResourceID }}</td>
                    <td>{{ it.ResName }}</td>
                    <td>{{ it.IncDes }}</td>
                    <td>{{ it.IncidentOwnerName }}</td>
                    <td>{{ it.ReturnDate }}</td>
                    <td>
                        <button id='deploy{{ it.ResourceID }}' class="btn btn-secondary"
                            data-id="{{ it.ResourceID }}" data-abbr="{{ it.IncidentAbbrv }}" data-no="{{it.IncidentNumber }}"
                            {%if it.InUse %}disabled{% endif %}
                            type="button">Deploy</button>
                        <button id='{{ it.ID}}' class="btn btn-secondary"
                            data-id="{{ it.ResourceID }}" data-abbr="{{ it.IncidentAbbrv }}" data-no="{{it.IncidentNumber }}"
                            type="button" >Reject</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
<script>
    $('.btn').on('click', function (event) {
        var button = $(this);
        console.log("Hello", button);
        $.post('updateStatus',
            { resourceID : button.data('id'),
                abbreviation: button.data('abbr'),
                number : button.data('no'),
                action: button.text().trim()
            },
            function(){
            $('.success_msg').append("Vote Successfully Recorded");
            $('.success_msg').fadeOut();});
        button.prop('disabled', true);
    });
</script>
{% endblock %}
